/* RESET */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
}

*::-moz-selection {
    background-color: var(--color-primary);
}

*::selection {
    background-color: var(--color-primary);
}

/* VARIÁVEIS */
:root {
    --color-primary: #61d5e7;
    --color-dark: #212121;
}

/* GERAL */
#home,
#perks,
#servicos,
#portfolio {
    margin: 64px 0;
}

.logo {
    height: 32px;
}

h3 {
    width: calc(33%);
    margin: auto;
    margin-bottom: 1.5em;
    line-height: 1.33em;
    text-transform: uppercase;
    color: white;
    background-color: var(--color-primary);
}

h4 {
    font-size: 2em;
    text-align: center;
}

/* NAVBAR */
.pin-top {
    z-index: 999;
    position: fixed;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pin-top a {
    color: #212121;
    font-weight: bold;
}

.pinned {
    z-index: 1;
    background-color: var(--color-primary);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.pinned a {
    font-weight: bold;
}

.dropdown-trigger {
    -webkit-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
            transform: translateY(-3px);
}

.dropdown-content {
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
}

.dropdown-content a {
    color: var(--color-primary) !important;
    font-weight: 400;
}

/* PRINCIPAL */
#home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80vh;
    margin-top: 0;
}

#home h2 {
    font-size: 2em;
    font-weight: bold;
}

.bg-main {
    position: absolute;
    height: calc(80vh + 64px);
    width: 100%;
    background-image: url('../images/bg-main.webp');
    background-attachment: fixed;
    background-position: right;
    z-index: -1;
    opacity: 0.5;
}

/* SOBRE */
.perks > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 256px;
}

.perks img {
    margin: 0 auto;
    width: 96px;
    margin-bottom: 12px;
}

/* SERVIÇOS */
.work > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
}

.work img {
    margin: 0 auto;
    width: 128px;
}

.work h4 {
    margin: 0.5em 0;
}

/* PORTFÓLIO */
.jobs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
}

.job {
    width: calc(33% - 8px);
    height: 256px;
    overflow: hidden;
}

.job img {
    width: 100%;
}

/* RODA PÉ */
footer ul a {
    color: #fff;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

footer ul a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

/* RESPONSIVO */
@media (max-width: 767px) {
    h3 {
        width: 100%;
    }

    #home h2 {
        margin-top: 0;
    }

    .bg-main {
        height: calc(80vh + 80px);
    }

    nav.z-depth-3.pin-top {
        width: 100vw;
    }

    .carousel {
        margin-top: 48px;
        height: 256px;
    }

    .bg-main {
        background-position: -100%;
    }

    .perks img,
    .work img {
        width: 64px;
    }

    .work > div {
        height: 256px;
    }

    .job {
        width: calc(50% - 8px);
        height: 128px;
    }
}